*, *:before, *:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	
}
section{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
#one{

	height: 775px;
	background: url(images/headerBackground.png) center no-repeat;
	padding-top: 8px;
}
.container{
	position: relative;
	width: 100%;
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
}
header{
	max-width: 1440px;
	height: 90px;
	margin: 0 auto;
	background: white;
}
#container-1{
	height: 669px;
}
#navigation{
	width: 100%;
	max-width: 1170px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	background: white;
	font-family: 'OpenSans', Semibold;
}
#navigation-list{
	width: 700px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-family: "Open Sans", Regular;
  	font-style: normal;
}
.navigation-list-child{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.navigation-list-child:hover{
	color: #67d592;
}
#login-btn{
	width: 115px;
	height: 40px;
	background: #0067b5;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-btn:hover{
	color: #67d592;
}
#about{
	position: absolute;
	width: 100%;
	max-width: 730px;
	height: 100%;
	max-height: 315px;
	left: 45px;
	bottom: 260px;
	color: white;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-child{
	list-style-type: none;
}
#about-child-list-first>li{
	font-family: "Open Sans", Extrabold;
	text-align: center;
}
.about-child-item-1{

}
#about-child-list-second{	
  	font-family: "Open Sans", Regular;
  	font-style: italic;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.about-child-list-second-li{
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-child-list-second-text{
	display: block;
}
#two{
	height: 482px;
	background: url(images/slide1.png) no-repeat left;
}
#slider{
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: auto;
	position: relative;
}
#slider1-id{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60px;
	height: 20px;
	right: 50px;
	bottom: 50px;
}
.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.slide1-content{
	position: absolute;
}
#slide1-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	box-shadow: 0 0 6px 1px grey;
}
#slide1-text{
	font-family: "Open Sans", Light;
	width: 475px;
	height: 85px;
	color: black;
	top: 60px;
	right: 0;
	text-align: right;
}
#slide1-btn{
	width: 200px;
	height: 50px;
	top: 284px;
	right: 0;
	text-align: center;
	color: white;
	background: #ff1b38;
	font-family: "Open Sans", Regular;
}
#three{
	height: 670px;
	background: #fbf7f7 url('images/section3.png') right no-repeat;
}
.three-child{
	width: 470px;
	height: 160px;
	border-radius: 15px;
	transition: 0.7s ease;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 30px;
	
}
.three-child-text-opensans-weight{
	font-family: "Open Sans", Regular;
	font-weight: 600;
}
.three-child-text-opensans{
	display: block;
	font-family: "Open Sans", Regular;
}
.three-child{
	font-family: 'Myriad Pro', Regular;
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.three-child-span{
	display: flex;
	justify-content: space-between;
}
.three-child:hover{
	background: white;
	box-shadow: 0 0 2px 4px #e7e4e4;
}
.three-child-item{
	width: 370px;
}
#four{
	height: 670px;
	background: url(images/section4-b.png);
}
#link{
	width: 430px;
	height: 220px;
	position: absolute;
	top: 215px;
	right: 0;
}
.link-child:nth-child(2n){
	display: flex;
	justify-content: space-between;
}
.link-is:nth-child(1n){
	width: 200px;
	height: 66px;
	background: url('images/gplay(1).png');
}
.link-is:nth-child(2n){
	width: 200px;
	height: 66px;
	background: url('images/istore(1).png');
}
.link-title{
	color: white;
}
#five{
	height: 680px;
}
#five-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.five-child{
	width: 370px;
	height: 490px;
}
.five-child-text{
	text-align: left	;
}
#six{
	height: 670px;
	background: url(images/section6.png);
}
#triangle{
	background: white;
	width: 60px;
	height: 20px;
	clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	margin: 0 auto;
}
#seven{
	height: 295px;
	background: #00b63d;
	color: whtie;
}
#container-seven{
	height: 295px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.seven-child{
	max-width: 290px;
	height: 130px;
	color: white;
	font-family: "Open Sans", Regular;
}
.seven-child-title{
	display: inline-block;
	font-weight: 650;
	margin-bottom: 27px;
}
.seven-child-list-links{
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.seven-child-list-item{
	display: block;
	list-style-type: none;
	fonnt-weight: 10;
}
.seven-child-list-links-img{
	margin-right: 10px;
}